@import './variables';

// Global reset
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $light-color;
  font-family: $font-family;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}
